<p>Benvenuto <%= @resource.email %>!</p>

<p>Puoi confermare la tua registrazione tramite il link qui sotto:</p>

<p><%= link_to 'Conferma il mio account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
