<!DOCTYPE html>
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>La Gilda</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />	


  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>

<body>
	
	

	
		
		
			<span class="header"></span>
			<h3>Iscriviti adesso</h3>
			<div class="links">
				<a href="iscrizione.html">Share</a>
				<a href="http://twitter.com/fwtemplates" target="_blank" >Re-Tweet</a>
			</div>

  <a href="homepage.html">Back to homepage>></a>
</body>
</html>
